
@font-face {
	font-family: m100;
	src:url('../fonts/m100.otf');
}

@font-face {
	font-family: m100;
	src:url('../fonts/m100.eot');
}

@font-face {
	font-family: m300;
	src:url('../fonts/m300.otf');
}

@font-face {
	font-family: m300;
	src:url('../fonts/m300.eot');
}

@font-face {
	font-family: m500;
	src:url('../fonts/m500.otf');
}

@font-face {
	font-family: m500;
	src:url('../fonts/m500.eot');
}

.container-fluid {
	width: 100%;
	height: auto;
}

.container {
	margin: 0 auto;
	width: 1160px;
	height: auto;
}

.pull-left {
	float: left;
}

.pull-right{
	float: right;
}

.text-center {
	text-align: center;
}

.text-white {
	color: white;
}

.fix{
	overflow: hidden;
}

.topbar_wrapper {
	padding: 5px 0;
}

.topbar {
}

.contact {
	font-size: 12px;
	font-family: m300;
}

.phone {
	margin-right: 20px;
}

.phone p {
	
}

.phone p img {
	width: 6px;
	margin-top: -4px;
}

.email {
}

.email p {
	font-size: 13px;
	margin-top: 10px;
}

.email p img {
	width: 13px;
}

.top_menu {
	padding-top: 15px;
}

.top_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.top_menu ul li {
	display: inline-block;
	margin-left: 20px;
}

.top_menu ul li a {
	display: block;
	text-decoration: none;
	color: #333;
	font-family: m300;
	font-size: 14px;
}

.top_menu ul li a:hover {
	color: #666;
}

.header_wrapper {
	background: #F5F6F1;
	padding: 40px 0;
	margin-bottom: 40px;
}

.header {
}

.logo {
	margin-right: 230px;
}

.logo_text {
}

.logo_text h1 {
	font-family: fantasy, sans-serif;
	color: #463F3A;
	font-size: 35px;
	margin: 0;
}

.logo_text p {
	font-size: 9px;
	font-weight: 600;
	font-family: m300;
	margin: 0;
}

.logo_icon {
	padding-top: 9px;
	padding-left: 7px;
}

.navigation {
	padding-top: 20px;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	display: inline-block;
	margin-left: 10px;
}

.navigation ul li a {
	display: block;
	color: #444;
	text-decoration: none;
	font-family: m500;
}

.navigation ul li a:hover {
	color: #666;
}

.slash {
	color: #E65753;
	font-weight: bold;
}

.cart {
}

.cart_text {
	margin-right: 15px;
}

.cart_text p {
	margin: 0;
	font-family: m300;
	color: #333;
}

.cart_text h4 {
	margin: 0;
	color: #222;
}

.cart.icon {
	width: 45px;
	padding-top: 10px;
}

.cart.icon img {
}


.slider_wrapper {
	margin-bottom: 30px
}

.slider {
}

.slider_back {
	position: relative;
}

.slider_back img {
	width:100%;
}

.slider.text {
	position: absolute;
	top: 85px;
	left:100px;
}

.slider.text ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider.text ul li a {
	display: block;
	color: white;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 61px;
	font-weight: bold;
}

.slider.images {
	position: absolute;
	top: 172px;
	right: 0px;
}

.services_wrapper {
}

.services {
}

.service {
	background: #F5F6F1;
	margin-right: 30px;
	padding: 20px;
	width: 326px;
	text-align: center;
}

.service:last-child {
	background: #F5F6F1;
	padding: 20px;
	width: 326px;
	text-align: center;
	margin-right: 0px;
}

.service h1 {
	color: #463F3A;
	font-family: 'Oswald', sans-serif;
	margin: 0;
}

.service p {
	font-family: m300;
	color: #463F3A;
	margin: 0;
}

.service p a {
	font-family: m500;
	color: #F55856;
	margin: 0;
}

.portfolio_one_wrapper {
	background-color: #F8F8F8;
	padding: 40px 0;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	margin: 40px 0;
}

.portfolio_one {
}

.heading_one {
	position: relative;
	background: url('../images/thick_icon.png');
	height: 3px;
	margin-bottom: 40px;
	line-height: 10px;
}

.heading_one  h1 {
	font-family: 'Oswald', sans-serif;
	position: absolute;
	left: 420px;
	top: -29px;
	color: #463F3A;
	background-color: #F8F8F8;
	padding: 5px 15px;
}

.heading_one img {
	width: 100%;
	height: 1px;
}

.one_wrapper {
}

.one {
}

.portfolio_two_wrapper {
}

.portfolio_two {
}

.heading_two {
}

.two_wrapper {
}

.two {
}

.portfolio_three_wrapper {
}

.portfolio_three {
}

.three.wrapper {
}

.three {
}

.blog_wrapper {
}

.blog_three {
}

.four.wrapper {
}

.four {
}

.footer_top_wrapper {
}

.footer_top {
}

.footer_middle_wrapper {
}

.footer_middle {
}

.f_logo {
}

.f_logo_text {
}

.f_logo_icon {
}

.f_navigation {
}

.top_icon {
}

.footer_bottom_wrapper {
}

.footer_bottom {
}

.social {
}

.copyright {
}